/.vscode
__pycache__
/Midjourney/__pycache__
Midjourney/title.txt

/.venv

/renderer/data/media/*
/renderer/data/post.json

/YouTube/AskReddit/Upload_ask.py-oauth2.json
YouTube/AskReddit/data/thumbnail.jpg
YouTube/AskReddit/data/thumbnail.png
/YouTube/AskReddit/data/title.txt
/YouTube/AskReddit/data/article_id.txt
YouTube/AskReddit/data/post_link.txt

YouTube/AmItheAsshole/data/thumbnail.jpg
YouTube/AmItheAsshole/data/thumbnail.png
/YouTube/AmItheAsshole/data/title.txt
/YouTube/AmItheAsshole/Upload_aita.py-oauth2.json
/YouTube/AmItheAsshole/data/article_id.txt
/YouTube/AmItheAsshole/data/post_link.txt

/YouTube/AmItheAssholeShorts/data/article_id.txt
/YouTube/AmItheAssholeShorts/data/post_link.txt
/YouTube/AmItheAssholeShorts/data/title.txt

/YouTube/AskRedditShorts/data/article_id.txt
YouTube/AskRedditShorts/data/post_link.txt
YouTube/AskRedditShorts/data/title.txt


renderer/movie.avi
renderer/output.mp4
renderer/output.ogv
renderer/AskReddit.avi
renderer/AskReddit.mp4
renderer/AmItheAsshole.avi
renderer/AmItheAsshole.mp4

test.py
